* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;
    max-width: 800px;
}

.heading {
    font-size: 2rem;
    margin-right: 1.5rem;
}

.fas {
    font-size: 2rem;
}

p {
    font-size: 1.4rem;
    margin-top: 1rem;
}
.checked {
    color: orange;
}

/* Three column layout */
.side {
    width: 15%;
    margin-top: 1rem;
    float: left;
}
.middle {
    width: 70%;
    margin-top: 1rem;
    float: left;
}
.right {
    text-align: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.bar-container {
    background-color: #f1f1f1;
    color: white;
    width: 100%;
    text-align: center;
}
.bar__5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar__4 {width: 20%; height: 18px; background-color: #2196F3;}
.bar__3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar__2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar__1 {width: 15%; height: 18px; background-color: #f44336;}

@media (max-width: 600px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }